@use 'config' as c;
@use 'global'; 
@use 'art01';
@use 'art02';

header{
    width: 100%;
    height: 100dvh;
    background-color: c.$color03;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;

    >:nth-child(2){
        width: 100%;
        height: 300px;        
        overflow: hidden;
        @media only screen and (min-width:c.$tablet){
            &{
                width: 500px;
                border: 2px solid c.$color01;
            }
        }
        &:hover img{
            transform: scale(1.2);
            transition: 2s;           
        }
        &:active img{
            filter: sepia(1);
            transition: 4s;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 1s;            
        }        
    }
}


.art02{
    
}
